<form [formGroup]="fg" (ngSubmit)="submit()">
    <input type="text" formControlName="title">
    <input type="number" formControlName="duration">
    <input type="text" formControlName="synopsis">
    <input type="url" formControlName="poster">
    <button>Envoyer</button>
</form>

<ul>
    <li *ngFor="let item of model"><a [routerLink]="['', item.id]">{{ item.title }}</a></li>
</ul>
